# Mac OS git ignores
# -----------------

.DS_Store

# OCaml (+ multicore) git ignores
# -----------------

*.cmi
*.cmo
*.out
*.o
*.cmx
OCaml-multicore/_out/
OCaml-multicore/run_timer
OCaml/_out/
OCaml/run_timer

# Eff ignores
# -----------------

Eff/_out/

# Links ignores
# -----------------
