# General ignores
# -----------------

.DS_Store
_out

# OCaml (+ multicore) git ignores
# -----------------

*.cmi
*.cmo
*.out
*.o
*.cmx
OCaml-multicore/_out/
OCaml-multicore/run_timer
OCaml/_out/
OCaml/run_timer

# Eff ignores
# -----------------

Eff/_out/
Eff/eff/

# Koka ignores
# -----------------

Koka/koka/
Koka/_out

# Scala ignores
# -----------------

Scala-effekt/_out
Scala-effekt/Effekt/out

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
