# Mac OS git ignores
# -----------------

.DS_Store

# OCaml git ignores
# -----------------

*.cmi
*.cmo
*.out
*.o
*.cmx
OCaml-multicore/out/*.txt
OCaml-multicore/out/*.csv
OCaml-multicore/run

# Eff git ignores
# -----------------

# Links git ignores
# -----------------